
.title {
  font-size: var(--font-size-xl);
  font-weight: normal;
  color: var(--dark-grey);
  font-family: var(--font-family-display);
}

@media (--md-viewport) {
  .title {
    font-size: calc(var(--font-size-xl) * 2rem);
  }
}

.logo {
  max-width: 10rem;
}

@media (--md-viewport) {
  .logo {
    max-width: 16rem;
  }
}

.quote {
  color: var(--white);
  font-family: var(--font-family-display);
  font-weight: normal;
  font-size: calc(var(--font-size-md) * 1.13rem);
  line-height: var(--line-height-xl);
}

.navigation-item-link {
  padding: var(--space-lg);
}

.blurb-image {
  max-width: 12rem;
}

.sketchy-edge-top {
  rotate: 180deg;
  vertical-align: top;
}

.sketchy-edge-bottom {
  vertical-align: bottom;
}
