
.title {
  font-size: calc(var(--font-size-xl) * 2rem);
  font-weight: normal;
  color: var(--dark-grey);
  font-family: var(--font-family-display);
}

.logo {
  max-width: 16rem;
}

.quote {
  background-color: var(--green);
  color: var(--white);
  font-family: var(--font-family-display);
  font-weight: normal;
  font-size: calc(var(--font-size-md) * 1.13rem);
  line-height: var(--line-height-lg);
  text-align: center;
  padding: calc(var(--space-xl) * 6rem) 0;
}

.navigation-item-link {
  padding: var(--space-lg);
}
