---
name: Header
---

<header class="u-flex u-flex-align-items-center u-flex-col">
  <a href="/index.html"><img class="logo" src="/logo.png"></a>
  <h1 class="title">Beth Bogdon<span class="u-text-shrink-2 u-space-left-02">LPC</span></h1>
</header>
