---
title: Approach
layout: page
---

{{> patterns.components.header.header}}
{{> patterns.components.navigation.nav}}

<div class="quote u-bg-dark-grey u-pad-top-6" style="margin-top:-2px;">
  <div class="grid grid--align-center u-pad-top-6">
    <div class="grid-cell u-size-9of12 u-lg-size-7of12">
      <span class="u-text-grow-5">“Anytime you’re gonna grow, you’re gonna lose something. You’re losing what you’re hanging onto to keep safe. You’re losing habits that you’re comfortable with, you’re losing familiarity.”</span>
      <span class="u-text-right u-block u-text-shrink-1">-James Hillman</span>
    </div>
  </div>
  <img class="sketchy-edge-bottom u-pad-top-6" src="/sketchy-edge-white.png">
</div>

<div class="u-contain-prose u-space-ends-6 u-space-items-1">
  <img class="blurb-image" src="/approach-header.svg">
  <h1 class="u-hidden-visually">Approach</h1>
  <h2>Attachment Therapy</h2>
  <p>With attachment therapy, we will explore how relationships happened within the family,
    schools, and friends in which you grew up in and how this continues to impact your
    relationships today. We will look at aspects such as: how you learned to feel love,
    to identify and express emotions, how to argue and come back together, and how you learned to self soothe.</p>

  <h2>Depth Therapy</h2>
  <p>Do you ever feel as if you react in ways that are unexplainable to yourself such as feeling rejected and texting your partner multiple times even though at other times you recognize that your relationship is stable? Within depth therapy it is assumed that we have many parts to ourselves. Through using this therapy, we will look closer at each part to know it more: Why does this part of you react this way? What is this part of you scared of? When do you first remember this fear? Because only through truly knowing and understanding each part of oneself can we begin to shift. Often this process can be emotional.
  </p>

  <h2>Relational/interpersonal</h2>

  <p>Research shows that in therapy the therapeutic relationship is the most important part of the counseling process. Therefore, we will discuss things that come up in our relationship whether that is a miscommunication or a pattern from other relationships that is showing up in the therapy room.</p>

  <p>An example of what this may look like is: in an effort to please the therapist the client goes along with what the therapist says while in reality the client knows that the therapist is getting it wrong. The therapist feels that something is off so says “I wonder if when I said that I got it completely right. I wonder if you could tell me what parts of what I said were off for you?” Then the client and therapist will talk about what held the client back from speaking up earlier and how this shows up in other relationships.</p>

  <h2>Narrative Exposure Therapy (NET)</h2>

  <p>Narrative Exposure Therapy is an evidence-based short-term treatment for multiple traumatized survivors of organized, sexual, or domestic violence as well as war or natural disasters. NET builds on neuropsychological models of trauma and memory and the procedure is based on Testimony Therapy (as developed by Lira and Weinstein in Chile) in combination with cognitive behavioral exposure techniques. In cooperation with the therapist the person can restore their autobiographic memories about those experiences. In this way, fragmentary memories are transformed into a coherent narrative structure: a testimony. This practice enables the processing of painful emotions and the construction of clear contingencies of dangerous and safe conditions, generally leading to significant emotional recovery.</p>

</div>

{{> patterns.components.footer.footer}}
