---
title: Background
layout: page
---

{{> patterns.components.header.header}}
{{> patterns.components.navigation.nav}}

<div class="u-flex u-flex-justify-center u-space-ends-6">
  <div class="grid u-size-9of12 u-space-ends-6">
    <div class="grid-cell u-md-size-4of12 u-after-1of12">
      <img src="/beth-bogdon-duo.jpg">
    </div>
    <div class="grid-cell u-md-size-7of12 u-space-items-1">
      <h3 class="u-text-grow-3 u-xs-pad-top-1">About Me</h3>
      <p>I earned my master’s degree in counseling psychology from Lewis & Clark College. I have worked in community mental health, a small agency setting, and private practice providing counseling with diverse populations experiencing a broad range of symptoms and struggles, such as trauma, shame, gender-identity issues, anxiety, and depression, through one on one and group facilitation. I have also completed my training to become an approved supervisor for LPC and LMFT interns.</p>

      <p>On a more personal note I love to read anything from therapy books, sci-fi, fantasy, and novels. After a long day, I like to play a game of cribbage or Ms. Pac-Man. It is also common to find a partially finished puzzle on my kitchen table.</p>
    </div>
  </div>
</div>
{{> patterns.components.footer.footer}}
