---
title: Homepage
layout: page
---

{{> patterns.components.header.header}}
{{> patterns.components.navigation.nav}}
<div class="quote u-bg-green u-pad-top-6" style="margin-top:-2px;">
  <div class="grid grid--align-center u-pad-top-6">
    <div class="grid-cell u-size-9of12 u-lg-size-7of12">
      <span class="u-text-grow-5">“One does not become enlightened by imagining figures of light, but by making the darkness conscious.”</span>
      <span class="u-text-right u-block u-text-shrink-1">-C.G. Jung</span>
    </div>
  </div>
  <img class="sketchy-edge-bottom u-pad-top-6" src="/sketchy-edge-white.png">
</div>

<div class="u-contain-prose u-space-ends-6 u-space-items-1">
  <p><span class="u-text-bold">Many of us have been taught that who we are is not okay. Because of this we lose touch with important parts of ourselves.</span> This can lead to feeling overwhelmed or isolated. Counseling is the process of shedding light on these unexplored areas and regaining connection to ourselves and others.</p>

  <p>Throughout the counseling process I utilize my training in mindfulness, trauma processing, depth therapy, attachment theory, and relational/interpersonal approaches throughout the counseling process. In addition, we will look at the cultural and social context in which you live and how these impact the challenges you face. I have received specialized training for working with trauma and PTSD: Narrative Exposure Therapy (a trauma processing therapy), Acceptance and Compassion for trauma, and Somatic Resources for trauma. I welcome all people in the therapy room.</p>
</div>

<div class="u-white u-bg-dark-grey blurb-top">
  <img style="margin-top:-1px" class="sketchy-edge-top" src="/sketchy-edge-white.png">
  <div class="u-flex u-flex-justify-center u-pad-top-3">
    <div class="grid u-size-9of12 u-lg-size-7of12">
      <div class="grid-cell u-size-1of3">
        <img src="/approach.svg">
      </div>
      <div class="grid-cell u-size-2of3">
        <h3 class="u-space-ends-2 u-text-grow-3">Therapy Appproach</h3>
        <p class="u-space-bottom-2">I offer therapy to individuals and groups in order to help you connect more deeply with the challenges and opportunities you are facing in your life. We will work together to facilitate healing, growth, and new possibilities. My approach is based in Attachment, Depth, Relational/Interpersonal, and Narrative Exposure Therapies.</p>
        <a class="button" href="/approach.html">Explore</a>
      </div>
    </div>
  </div>
  <div class="u-flex u-flex-justify-center u-space-bottom-6">
    <div class="grid u-size-9of12 u-lg-size-7of12">
      <div class="grid-cell u-size-2of3">
        <h3 class="u-space-ends-2 u-text-grow-3">Issues</h3>
        <p class="u-space-bottom-2">I work with people impacted by a broad range of issues: relationship conflict, past trauma, systemic oppression, gender identity, dep ression, anxiety, life transitions, and personal growth. I also provide supervision for LPC and LMFT interns.</p>
        <a class="button" href="/issues.html">Discover</a>
      </div>
      <div class="grid-cell u-size-1of3">
        <img src="/issues.svg">
      </div>
    </div>
  </div>
  <img class="sketchy-edge-bottom" src="/sketchy-edge-white.png">
</div>

<div class="u-flex u-flex-justify-center u-space-ends-6 u-pad-bottom-6">
  <div class="grid u-size-9of12 u-lg-size-7of12">
    <div class="grid-cell u-md-size-1of3">
      <img class="blurb-image" src="/beth-bogdon-duo.jpg">
    </div>
    <div class="grid-cell u-md-size-2of3">
      <h3 class="u-space-ends-2 u-text-grow-3">About Me</h3>
      <p class="u-space-bottom-2">Research shows how essential the therapy relationship is therefore it is important that we are a good fit. Read a bit about me and don’t hesitate to contact me to set a up a free phone consult.</p>
      <a class="button">Learn More</a>
    </div>
  </div>
</div>

{{> patterns.components.footer.footer}}
