---
title: Homepage
layout: page
---

{{> patterns.components.header.header}}
{{> patterns.components.navigation.nav}}
<div class="quote" style="margin-top:-2px;">
  <div class="grid grid--align-center">
    <div class="grid-cell u-size-9of12 u-lg-size-8of12">
      <span class="u-text-grow-5">“One does not become enlightened by imagining figures of light, but by making the darkness conscious.”</span>
      <span class="u-text-right u-block u-text-shrink-1">-C.G. Jung</span>
    </div>
  </div>
</div>

<div class="u-contain-prose u-space-top-6 u-space-items-1">
  <p class="intro">Many of us have been taught that who we are is not okay. Because of this we lose touch with important parts of ourselves. This can lead to feeling overwhelmed or isolated. Counseling is the process of shedding light on these unexplored areas and regaining connection to ourselves and others.</p>

  <p>Throughout the counseling process I utilize my training in mindfulness, trauma processing, depth therapy, attachment theory, and relational/interpersonal approaches throughout the counseling process. In addition, we will look at the cultural and social context in which you live and how these impact the challenges you face. I have received specialized training for working with trauma and PTSD: Narrative Exposure Therapy (a trauma processing therapy), Acceptance and Compassion for trauma, and Somatic Resources for trauma. I welcome all people in the therapy room.</p>
</div>

<div class="u-flex u-flex-justify-center u-space-ends-6 u-pad-bottom-6">
  <div class="grid grid--with-gutter u-size-9of12">
    <div class="grid-cell u-md-size-1of3">
      <img class="blurb-image" src="/approach.svg">
      <h3 class="u-space-ends-2 u-text-grow-3">Therapy Appproach</h3>
      <p class="u-space-bottom-2">Small blurb that leads into all the different therapies</p>
      <a class="button">Learn More</a>
    </div>
    <div class="grid-cell u-md-size-1of3">
      <img class="blurb-image" src="/issues.svg">
      <h3 class="u-space-ends-2 u-text-grow-3">Issues</h3>
        <p class="u-space-bottom-2">Small blurb that leads into all the different issues</p>
        <a class="button">Learn More</a>
    </div>
    <div class="grid-cell u-md-size-1of3">
      <img class="blurb-image" src="/about.svg">
      <h3 class="u-space-ends-2 u-text-grow-3">About Me</h3>
      <p class="u-space-bottom-2">Small blurb that leads into a bio page</p>
      <a class="button">Learn More</a>
    </div>
  </div>
</div>

{{> patterns.components.footer.footer}}
