---
title: Issues
layout: page
---

{{> patterns.components.header.header}}
{{> patterns.components.navigation.nav}}

<div class="u-contain-prose u-space-ends-6 u-space-items-1 u-sm-pad-sides-1 u-xs-pad-sides-1">
  <div class="grid grid--with-gutter u-space-top-6 u-space-bottom-6">
    <div class="grid-cell u-md-size-2of3">
      <img class="blurb-image" src="/issues-header.svg">
      <h1 class="u-hidden-visually">Issues</h1>
      <h2 class="u-space-bottom-1">Anxiety</h2>
      <p>Anxiety can encompass many aspects: worries about life events, social situations, or general fears.
        From time to time people worry and feel anxious, often when they are stressed.
        They worry about decisions and things they have to do, and often do so to cope with the situation
        in a more efficient way. But when one begins to experience anxiety more frequently or
        intensely these symptoms begin to impact how a person lives their day to day life.</p>
      <h4 class="u-space-top-1 u-dark-green u-space-bottom-01">Learn More:</h4>
      <a class="button--link u-text-shrink-1" href="https://en.wikipedia.org/wiki/Anxiety">https://en.wikipedia.org/wiki/Anxiety</a>
      <a class="button--link u-text-shrink-1" href="https://www.webmd.com/anxiety-panic/default.htm">https://www.webmd.com/anxiety-panic/default.htm</a>
    </div>
    <div class="grid-cell u-md-size-1of3">
      <h4 class="u-space-bottom-03">Common Symptoms</h4>
      <ul>
        <li>Anxiety</li>
        <li>Excessive</li>
        <li>Worry/Fear</li>
        <li>Feeling of impending doom</li>
        <li>Insomnia</li>
        <li>Nausea</li>
        <li>Palpitations</li>
        <li>Poor concentration</li>
        <li>Trembling</li>
        <li>Racing thoughts</li>
        <li>Fatigue</li>
      </ul>
    </div>
  </div>
  <div class="u-release u-bg-dark-grey u-white">
    <img class="sketchy-edge-top" src="/sketchy-edge-white.png" style="margin-top:-2px">
    <div class="grid grid--align-center">
      <div class="grid-cell u-contain-prose u-space-items-1 u-space-top-6 u-sm-pad-sides-1 u-xs-pad-sides-1">
        <h2 class="u-space-bottom-1">Depression</h2>
        <p>Depression can feel like the weight of a heavy blanket, where life becomes difficult to navigate.
          Almost everyone has a period in their life in which they experience feelings of sadness, emptiness
          or unhappiness. At these moments people prefer to stay at home in bed and cancel all appointments
          for the day. On such days, it is difficult to enjoy small things and to stay focused on a task for
          a while. These symptoms could be depression symptoms. ‘Depressive’ periods like these, vary per
          person in intensity (some people feel generally miserable while others suffer from severe depression
          symptoms) and duration (a few weeks to several years). Someone may experience some of the depression
          symptoms listed below mildly for about a year or two, while someone else may experience some of the
          symptoms severely for only a few months. Furthermore, for some people it is difficult to understand
          why they feel so sad, empty or unhappy. For many of us answering this why-question already takes
          too much energy. The depression symptoms easily overlap with several other illnesses, disorders or issues.</p>
        <p class="u-text-bold u-text-grow-1">
          During such periods the depression symptoms occur most of the day and nearly every day and may include:</p>
        <ul>
          <li>Feelings of sadness, emptiness or unhappiness</li>
          <li>Outburst of anger, frustration or irritability, even over minor things</li>
          <li>Loss of pleasure or interest in daily activities, such as making breakfast or grocery shopping</li>
          <li>Difficulty sleeping, sleeping too much or too little (insomnia)</li>
          <li>Being tired all the time and lack of energy</li>
          <li>Changes in appetite: often loss of appetite and weight, or sometimes increased appetite and weight gain</li>
          <li>Restlessness, anxiety or agitation: inability to sit still or excessive worrying</li>
          <li>Slowed talking, thinking or body movements</li>
          <li>Feelings of guilt or worthlessness, blaming yourself for things you are not responsible for, fixating on previous failures</li>
          <li>Trouble concentrating, focusing, making decisions and remembering things</li>
          <li>Thoughts of death, suicidal thoughts and/or attempts or suicide</li>
          <li>Unexplained physical problems, such as headaches </li>
        </ul>

        <h4 class="u-space-top-1 u-green u-space-bottom-01">Learn More:</h4>
        <a class="button--link u-text-shrink-1 u-green u-block" href="https://en.wikipedia.org/wiki/Major_depressive_disorder">https://en.wikipedia.org/wiki/Major_depressive_disorder</a>
        <a class="button--link u-text-shrink-1 u-green" href="https://www.webmd.com/depression/mental-health-depression#1">https://www.webmd.com/depression/mental-health-depression#1</a>
      </div>
    </div>
    <img class="sketchy-edge-bottom u-pad-top-6" src="/sketchy-edge-white.png">
  </div>

  <div class="grid grid--with-gutter u-space-top-6 u-space-bottom-6">
    <div class="grid-cell u-md-size-7of12">
      <h2 class="u-space-bottom-1">PTSD</h2>
      <p>Many people experience life events that impact them physically and emotionally.
        A person may find themselves feeling fearful, unexpectedly remembering a past event,
        difficulty going places, and many more experiences. Post-traumatic stress disorder or
        PTSD is classified as an anxiety disorder. Common examples of traumatic events are:
        (car) accident, natural disasters, sexual/physical abuse, robbery, and public humiliation.
        Complex PTSD is a developmental trauma disorder that can develop after prolonged exposure
        to social and/or interpersonal trauma. Complex PTSD occurs in the context of entrapment,
        captivity or dependence. Common examples of traumatic events that lead to complex PTSD are:
        prolonged exposure to sexual/physical/emotional abuse, bullying, held captive, war, and extreme poverty.
        This makes the victim feel helpless, without any control, and can even change someone’s
        identity and sense of self.</p>
      <h4 class="u-space-top-1 u-dark-green u-space-bottom-01">Learn More:</h4>
      <a class="button--link u-text-shrink-1" href="https://en.wikipedia.org/wiki/Posttraumatic_stress_disorder">https://en.wikipedia.org/wiki/Posttraumatic_stress_disorder</a>
      <a class="button--link u-text-shrink-1" href="https://www.webmd.com/mental-health/ptsd-directory">https://www.webmd.com/mental-health/ptsd-directory</a>
    </div>
    <div class="grid-cell u-md-size-5of12 u-xs-pad-top-1">
      <h4 class="u-space-bottom-03">PTSD</h4>
      <ul>
        <li>One or few traumas.</li>
        <li>Flashbacks.</li>
        <li>Nightmares about the trauma.</li>
        <li>Avoidance of things that remind of trauma.</li>
        <li>Anxiety and depression.</li>
        <li>Hyper-vigilance.</li>
        <li>Exaggerated startle reflex.</li>
        <li>Some dissociation.</li>
      </ul>
      <h4 class="u-space-bottom-03 u-space-top-1">Complex PTSD</h4>
      <ul>
        <li>Chronic inescapable traumas.</li>
        <li>Flashbacks.</li>
        <li>Night terrors and chronic insomnia.</li>
        <li>Social isolation, avoidance of relationship.</li>
        <li>Severe alterations in affect regulation.</li>
        <li>Hyper-vigilance, preoccupation with abuser.</li>
        <li>Fragmented sense of self.</li>
        <li>No filter, easily overwhelmed.</li>
      </ul>
    </div>
  </div>
</div>

{{> patterns.components.footer.footer}}
