---
title: Rates
layout: page
---

{{> patterns.components.header.header}}
{{> patterns.components.navigation.nav}}
<div class="u-bg-green u-pad-top-6" style="margin-top:-2px;">
  <div class="u-contain-prose">
    <h1 class="u-text-grow-6 u-text-display u-white u-text-normal">Rates & Insurance</h1>
  </div>
  <img class="sketchy-edge-bottom u-pad-top-6" src="/sketchy-edge-white.png">
</div>
<div class="u-contain-prose u-space-ends-6 u-space-items-1">
  <h2>Insurance</h2>
  <p>I am in the process of becoming in-network (a preferred provider) with the following insurance providers:</p>
  <ul>
    <li>Regence (Blue Cross/Blue Shield)</li>
    <li>Health Net (MHN)</li>
    <li>Aetna</li>
    <li>Providence</li>
    <li>Pacificsource</li>
  </ul>
  <p>I would be happy to call your insurance provider on your behalf to find out how much your co-pay will be and how many sessions are allowed.</p>
  <h2>Sliding Scale Fee</h2>
  <p>My standard fee for individual therapy is $100. However,
    I do have some sliding scale spots so please check in with me if
    that is something you need. With this rate, you will pay the full
    amount at the time of service, and I am happy to provide you with a
    monthly statement that you can submit to your insurance company for reimbursement.</p>

  <div>
    <h4 class="u-space-bottom-01">My standard fee for supervision is:</h4>

    <p><span class="u-text-bold">Individual:</span> $80/hour</p>
    <p><span class="u-text-bold">Group:</span> $50/hour</p>
  </div>

  <p>Cash and check are currently the only accepted forms of payment.</p>
</div>

{{> patterns.components.footer.footer}}
