---
title: Trainings
layout: page
---

{{> patterns.components.header.header}}
{{> patterns.components.navigation.nav}}
<div class="u-bg-dark-grey u-pad-top-6" style="margin-top:-2px;">
  <div class="u-contain-prose u-sm-pad-sides-1 u-xs-pad-sides-1">
    <h1 class="u-text-grow-6 u-text-display u-white u-text-normal">Supervision</h1>
  </div>
  <img class="sketchy-edge-bottom u-pad-top-6" src="/sketchy-edge-white.png">
</div>
<div class="u-contain-prose u-space-ends-6 u-space-items-1 u-sm-pad-sides-1 u-xs-pad-sides-1">
  <p>I offer individual and group supervision (LPC & LMFT Oregon Interns).  In the supervision process we may: review work with clients, create and work towards professional development goals, strengthen clinical skills, and at times personal development as well.</p>

  <h3 class="u-dark-green">Some things to expect from me are:</h3>

  <p><span class="u-text-bold">Feedback:</span> Strengths and edges for growth.</p>
  <p><span class="u-text-bold">Assistance in exploring how systems:</span> institutions, cultural, political, and family are impacting you and your client.
  <p>Clear, collaborative goal-setting and accountability to ensure that practitioner growth is realized.</p>
  <ul>
    <li>Strong support.</li>
    <li>Noticing and working through vicarious trauma.</li>
  </ul>

  <hr>
  <h4 class="u-dark-green">My standard fee for supervision is:</h4>

  <p><span class="u-block"><span class="u-text-bold">Individual:</span> $80/hour</span>
  <span class="u-text-bold">Group:</span> $50/hour</p>

  <p>Cash and check are currently the only accepted forms of payment</p>
</div>

{{> patterns.components.footer.footer}}
